{% load static %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'admin/css/home.css' %}">
<body>

<div class="navbar">
  <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a> 
  <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
  <a href="{% url 'contact_us' %}"><i class="fa fa-fw fa-envelope"></i> Contact Us</a> 
  <a href="{% url 'signin' %}"><i class="fa fa-fw fa-user"></i> Login</a>
</div>

</body>
</html>